@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html ng-app="ionicApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>菜鸟教程(runoob.com)</title>
    <link href="https://cdn.staticfile.org/ionic/1.3.2/css/ionic.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/ionic/1.3.2/js/ionic.bundle.min.js"></script>
</head>
<body>

    <div class="bar bar-header">
        <div class="h1 title">缩略图列表</div>
    </div>

    <div class="content has-header ionic-pseudo">

        <div class="list">

            <a class="item item-thumbnail-left" href="#">
                <img src="//www.runoob.com/try/demo_source/blue-album.jpg">
                <h2>Weezer</h2>
                <p>Blue Album</p>
            </a>

            <a class="item item-thumbnail-left" href="#">
                <img src="//www.runoob.com/try/demo_source/siamese-dream.jpg">
                <h2>Smashing Pumpkins</h2>
                <p>Siamese Dream</p>
            </a>

            <a class="item item-thumbnail-left" href="#">
                <img src="//www.runoob.com/try/demo_source/nevermind.jpg">
                <h2>Nirvana</h2>
                <p>Nevermind</p>
            </a>

            <a class="item item-thumbnail-left" href="#">
                <img src="//www.runoob.com/try/demo_source/license-to-ill.jpg">
                <h2>Beastie Boys</h2>
                <p>License To Ill</p>
            </a>

            <a class="item item-thumbnail-left" href="#">
                <img src="//www.runoob.com/try/demo_source/dookie.jpg">
                <h2>Green Day</h2>
                <p>Dookie</p>
            </a>


            <a class="item item-thumbnail-left" href="#">
                <img src="//www.runoob.com/try/demo_source/blue-album.jpg">
                <h2>Weezer</h2>
                <p>Blue Album</p>
            </a>

            <a class="item item-thumbnail-left" href="#">
                <img src="//www.runoob.com/try/demo_source/siamese-dream.jpg">
                <h2>Smashing Pumpkins</h2>
                <p>Siamese Dream</p>
            </a>

            <a class="item item-thumbnail-left" href="#">
                <img src="//www.runoob.com/try/demo_source/nevermind.jpg">
                <h2>Nirvana</h2>
                <p>Nevermind</p>
            </a>

            <a class="item item-thumbnail-left" href="#">
                <img src="//www.runoob.com/try/demo_source/license-to-ill.jpg">
                <h2>Beastie Boys</h2>
                <p>License To Ill</p>
            </a>

            <a class="item item-thumbnail-left" href="#">
                <img src="//www.runoob.com/try/demo_source/dookie.jpg">
                <h2>Green Day</h2>
                <p>Dookie</p>
            </a>
        </div>

    </div>
</body>
</html>
